// Define variables for your color scheme

// For example:
$red: #FD1015;

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: #1b262c;
$blue: #0f4c75;
$light-blue: #3282b8;
$pale-blue: #effffb;

