.banner {
  height: 500px;
  color: $pale-blue;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  text-shadow: 0 0 0 #545454;
  padding: 24px;
}

.banner h1 {
  font-weight: 700;
  font-size: 36px;
}