.banner {
  height: 500px;
  color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  text-shadow: 0 0 0 #545454;
}