.card-category {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 0 #5f5f5f;
  opacity: 0.9;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #5f5f5f;
  margin: 16px;
}

.card-category a {
  text-decoration: none;
  color: $pale-blue;
  font-weight: bold;
}

.card-show {
  width: 90vw;
  height: 400px;
  display: flex;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #5f5f5f;
  background-color: white;
  margin-bottom: 16px;
}

.card-show-content {
  padding: 16px;
  line-height: 32px;
  margin-right: 8px;
}

.card-show-image {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 8px;
}

.card-show-content ul {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .card-show {
    width: 100%;
    display: block;
  }

  .card-show {
    width: 300px;
    height: 100vh;
  }

  .card-show-image {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
  }
  
  .card-show-content h1 {
    font-size: 18px;
  }
}