.card-category {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 0 #5f5f5f;
  opacity: 0.9;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #5f5f5f;
  margin: 16px;
}

.card-category a {
  text-decoration: none;
  color: $pale-blue;
  font-weight: bold;
}

.card-show {
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #5f5f5f;
  background-color: white;
  margin: 0 auto;
}

.card-show-content {
  padding: 16px;
  line-height: 32px;
  margin: 0 auto;
}

.card-show-image {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 8px;
}

.card-show-content ul {
  list-style-type: circle;
  list-style-position: initial;
  margin-left: -50px;
}

@media screen and (max-width: 600px) {
  .card-show {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card-show {
    width: 300px;
    height: 800px;
  }

  .card-show-image {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
  }
  
  .card-show-content h1 {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .card-show {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card-show {
    width: 300px;
    height: 800px;
  }

  .card-show-image {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
  }
  
  .card-show-content h1 {
    font-size: 18px;
  }
}

.card-bg-img {
  width: 300px;
  height: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://res.cloudinary.com/dtewjoisz/image/upload/c_thumb,w_300,g_face/v1584347690/gtaf46ABR2ZK9VJFzVxn23pi.jpg');
}