.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1 {
  margin-left: 8px;
  letter-spacing: 1px;
}

.navbar-lewagon a {
  margin-right: 16px;
  margin-top: 16px;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 16px;
}